body {
    background-color: #3D5656;
}

hr {
    border-style: inset none none;
    height: 0px;
    border-color: #F0E9D2;
    border-width: 5px;
}

h1 {
    color: #CFFDE1;
}

h3 {
    color: #68B984;
}

.masonery {
    border-radius: 100%;
}